<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alejoestrada.misdeudores">


    <uses-feature
        android:name="android.hardware.camera2"
        android:required = "true"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/balanza"
        android:label="BonneSante"
        android:roundIcon="@mipmap/balanza_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity
            android:name=".Drawer.DrawerActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".Main.MainActivity" />
        <activity android:name=".Login.LogInActivity2" />
        <activity
            android:name=".Splash.SplashActivity2"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Registro.RegistroActivity" />

    </application>

</manifest>